$color-wenge: #121212;
$color-beige: #F1EBE5;
$color-black: #121212;
$color-white: #ffffff;
$color-gray: #e0e0e0;
$color-darkbrown: #3A241A;
$color-darkorange: #B04008;
$color-rose: #fa4251;
$color-aqua: #64c8c8;
$sidebarwd: 18rem;
$contentwd: 54rem;

$mediawd: (
  mobile: 320px,
  tablet: 769px,
  desktop: 1025px,
  wide: 1441px,
) !default;